@import './common/buttons';
@import './common/components';
@import './common/forms';
@import './general/colors';
@import './general/reset';
@import './general/variables';

.portfolio-header{
    display: flex;
    .logo{
        font-family: Poppins;
        font-weight: bold;
        font-size: 22px;
        margin-top: 20px;
        margin-left: 50px;
        opacity: .9;
    }
}